.gridd{
    width: 85%;
    border: 1px solid pink;
    margin: auto;
    padding: auto;
    /* display: flex;
    justify-content: space-evenly; */
}

.row{
    justify-content: space-evenly;
}

.cardd{
display: flex;
flex-direction: column;
align-items: center;
padding: 10%;
margin: 12px;
justify-content:center;
text-align:center;
width: 210px;
border: 1px solid blue;
}

.cardd .image-holder{
    width:200px;
    height: 300px;
}

.cardd .image-holder img{
    width:100%;
    height:100%;
}

.heading{
    width:100%;
}